<!DOCTYPE html>
<title>System Status</title>

<h1>Status</h1>

{% if master_status == 'green' %}
  <div class="green"><h2>All systems operational.</h2></div>
{% else %}
  <div class="red"><h2>Systems are down!</h2></div>
{% endif %}

{% if sites %}
  {% for site in sites %}
    <div class="site">
      <label>{{site['name']}}:</label>
    {% if site['status'] == 'OK' %}
      <span>OK</span>
    {% else %}
      <strong>NOT OK - {{site['status']}}</strong>
    {% endif %}
    <small>Last checked at {{ site['last_checked'] }}.</small>
    </div>
  {% endfor %}
{% else %}
  <label>No sites have been configured yet.</label>
{% endif %}
